<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- Version 8 MySQL hiberante-cfg.xml example for Hibernate 5 -->
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/lec15</property>
        <property name="connection.username">root</property>
        <property name="connection.password">R@simgunay2018</property>
        <property name="connection.pool_size">3</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="org.example.mappedSuperClass.Monster"/>
        <mapping class="org.example.mappedSuperClass.EyeMonster"/>
        <mapping class="org.example.mappedSuperClass.BaseEntity"/>
        <mapping class="org.example.mappedSuperClass.EarMonster"/>

        <mapping class="org.example.singleTable.Animal"/>
        <mapping class="org.example.singleTable.Cat"/>
        <mapping class="org.example.singleTable.Snake"/>

        <mapping class="org.example.joinedTable.Furniture"/>
        <mapping class="org.example.joinedTable.Chair"/>
        <mapping class="org.example.joinedTable.DinnerTable"/>

        <mapping class="org.example.tablePerClass.Toy"/>
        <mapping class="org.example.tablePerClass.Lego"/>
        <mapping class="org.example.tablePerClass.Doll"/>


    </session-factory>
</hibernate-configuration>